
.body {
  background-image: url('/images/bgDesktop.png');
  background-repeat: no-repeat;
  height: 1160px;
  width: 100%;
  position: relative;
  top: 80px;
  background-size: 100%;
  @media (max-width: 1680px) {
    background-size: 135%;
    margin-bottom: 90px;
  }
  @media (max-width: 1440px) {
    height: 767px;
    background-position: center;
  }
  @media (max-width: 1024px) {
    background-size: 200%;
  }
  @media (max-width: 992px) {
    background-image: url('/images/blockTablet.png');
    background-size: 100%;
  }
  @media (max-width: 912px) {
    background-size: 140%;
  }
  @media (max-width: 768px) {
    background-image: url('/images/blockTablet.png');
    background-size: 135%;
  }
  @media (max-width: 575px) {
    background-image: url('/images/bgMobile.png');
    height: 851px;
    top: 70px;
    background-size: 100%;
  }
  @media (max-width: 450px) {
    background-size: 135%;
  }
  @media (max-width: 424px) {
    background-size: 150%;
  }
  @media (max-width: 375px) {
    background-size: 155%;
  }
  @media (max-width: 360px) {
    background-size: 160%;
  }
  @media (max-width: 320px) {
    background-size: 180%;
  }
}


.body__title {
  font-size: 74px;
  font-style: normal;
  font-weight: 900;
  line-height: 84px;
  padding-top: 82px;
  padding-bottom: 32px;
  width: 594px;
  @media (max-width: 992px) {
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    padding-top: 26px;
    padding-bottom: 24px;
  }
  @media (max-width: 575px) {
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    padding: 26px 18px 16px 18px;
    width: 90%;
  }
}
.body__sub__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  width: 412px;
  @media (max-width: 992px) {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  @media (max-width: 575px) {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 0 15px 0 18px;
    width: 342px;
  }
}

.body__AppBlock {
  display: flex;
  margin-top: 40px;
  cursor: pointer;
  @media (max-width: 575px) {
    padding: 0 18px;
    margin-top: 24px;
  }
  .body__AppBlock__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
  .body__AppBlock__img {
    width: 165px;
    height: 48px;
  }
}


