.iconDesktop {
  object-fit: cover;
  @media (max-width: 992px) {
    display: none;
  }
}
.iconTablet {
  display: none;
  @media (max-width: 992px) {
    display: block;
    object-fit: cover;
  }
  @media (max-width: 575px) {
   display: none;
  }
}
.iconMob {
  display: none;
  @media (max-width: 575px) {
    display: block;
    object-fit: cover;
  }
}
.body {
  height: 1160px;
  width: 100%;
  position: relative;
  top: 80px;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 1920px) {
    height: 767px;
  }
  @media (max-width: 992px) {
    height: 950px;
  }
  @media (max-width: 768px) {
    height: 767px;
  }
  @media (max-width: 575px) {
    height: 1151px;
    top:70px;
  }
  @media (max-width: 450px) {
    height: 1010px;
  }
  @media (max-width: 375px) {
    height: 851px;
  }

}


.body__title {
  font-size: 74px;
  font-style: normal;
  font-weight: 900;
  line-height: 84px;
  padding-top: 82px;
  padding-bottom: 32px;
  width: 594px;
  @media (max-width: 992px) {
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    padding-top: 26px;
    padding-bottom: 24px;
    width: 503px;
  }
  @media (max-width: 575px) {
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    padding: 26px 18px 16px 18px;
    width: 370px;
  }
}
.body__sub__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  width: 412px;
  @media (max-width: 992px) {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  @media (max-width: 575px) {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 0 15px 0 18px;
    width: 342px;
  }
}

.body__AppBlock {
  display: flex;
  margin-top: 40px;
  @media (max-width: 575px) {
    padding: 0 18px;
    margin-top: 24px;
  }
  .body__AppBlock__item {
    margin-right: 15px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
  .body__AppBlock__img {
    width: 165px;
    height: 48px;
  }
}


