@import "/src/styles/variables";
.button {
  width: 180px;
  height: 44px;
  border-radius: 24px;
  background: $primary-orange;
}

.button__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}